@import '../../../var';

.triangleStep {
    display: flex;
    align-items: center;

    max-width: 487px;
    width: 100%;

    @media (max-width: 550px) {
        align-items: start;
    }

    &__step {
        position: relative;
        flex-shrink: 0;
        width: 75px;
        height: 67px;

        margin-right: 20px;

        @media (max-width: 550px) {
            width: 53px;
            height: 47px;
            span {
                font-size: 20px !important;
            }
        }

        img {
            width: 100%;
            height: 100%;
        }
        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -40%);

            font-family: 'Gilroy-700';
            font-size: 25px;
            color: $primary-content;
            line-height: 140%;
            letter-spacing: 0.5px;
        }
    }
    &__text {
        margin-top: 4px;
        display: inline-grid;
        span {
            color: $primary-content;
            font-family: 'Gilroy-600';
            font-size: 20px;
            line-height: 25px;
            margin-bottom: 12px !important;
        }
        @media (max-width: 550px) {
            margin-top: -5px;
            width: 74%;
            span {
                font-size: 18px;
                margin-bottom: 4px !important;
            }
        }
    }
}