@import '../../../var';

.aboutUsSliderBox {
    &__text {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.aboutUsSliderContent {

}

.aboutUsSlider {
    padding: 60px 0px 40px;

    .swiper-slide {
        display: flex;
        align-items: center;
        width: 100%;

        border-radius: 5px;
        background: #FFF;
        box-shadow: 0px 20px 25px 0px rgba(0, 0, 0, 0.10);

        & > div {
            padding: 0px 60px 0px 39px;
        }

        img {
            width: 465px;
            height: 324px;
        }
        div {
            margin-top: 11px;
            color: $primary-content;
            font-family: 'Gilroy-600';
            font-size: 20px;
            line-height: 25px;
        }
        span {
            color:$secondary-text;
            font-family: 'Gilroy-400';
            font-size: 16px;
            line-height: 180%;
            letter-spacing: 0.32px;
        }
    }

    .swiper-button-next, .swiper-button-prev {
        position: absolute;
        top: 50%;

        width: 53px !important;
        height: 53px !important;
    }
    .swiper-button-prev {
        left: 0px;
        transform: rotate(180deg);
        &::after {
            content: url('../../../images/svg/aboutUsSliderNext.svg');
        }
    }
    .swiper-button-next {
        right: 0px;
        &::after {
            content: url('../../../images/svg/aboutUsSliderNext.svg');
        }
    }


}