@import './reset';
@import './fonts';
@import './var';

body {
    font-family: 'Gilroy-400';
    font-size: 16px;
    font-weight: 400;
    line-height: 180%;

    overflow-x: hidden;
}

h1 {
    
}
h2 {
    
}
h3 {
    
}
p {
    font-family: 'Gilroy-400';
    font-size: 16px;
    line-height: 180%;
    letter-spacing: 0.32px;
    color: $secondary-text;
    white-space: normal;
}

.header {
    position: fixed;
    top: 0px;
    left: 0px;

    width: 100vw;

    z-index: 999;
}

.wrapper {
    position: relative;
    //display: flex;
    //flex-direction: column;
    width: 100%;

    overflow-x: hidden;
}
.containerFull {
    position: relative;
    width: 100%;
    margin: 0px auto;
}
.container {
    position: relative;
    max-width: 1150px;
    width: 100%;

    padding-left: 25px;
    padding-right: 25px;

    margin: 0px auto;
}